.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;

}
.campus .gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
    margin-bottom: 40px;
}
/* media query  */
@media screen and (max-width: 850px) {
    .campus .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        margin-bottom: 20px;
        width: 48%;
    }
}